@page "/editcategory/{id}"
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@inject ModalService _modalService
<div class="mb-2">
    <Breadcrumb>
        <BreadcrumbItem Href="/">Home</BreadcrumbItem>
        <BreadcrumbItem Href="/categories">Categories</BreadcrumbItem>
        <BreadcrumbItem>Edit</BreadcrumbItem>
    </Breadcrumb>
</div>
<hr />

<Card Hoverable Title="Edit Category" Loading="_loading">
    <Form Model="@Category"
          OnFinish="HamdleValidSubmit"
          Layout="vertical">
        <ValidationSummary />
        <FormItem Label="Category Name">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem>
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Update
            </Button>
        </FormItem>
    </Form>
</Card>

@code{
    [CascadingParameter]
    public Error Error { get; set; }

    [Parameter]
    public string Id { get; set; }
    public Category Category { get; set; } = new Category();
    bool _loading;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            _loading = true;
            Category = await CategoryService.GetCategory(int.Parse(Id));
            _loading = false;
        }
        catch (Exception ex)
        {

            Error.ProcessError(ex);
        }

    }

    protected async Task HamdleValidSubmit()
    {
        try
        {
            var result = await CategoryService.UpdateCategory(Category);
            if (result != null)
            {
                HandleSuccess();
            }
        }
        catch (Exception ex)
        {

            Error.ProcessError(ex);
        }

    }

    private void HandleSuccess()
    {
        _modalService.Success(new ConfirmOptions()
        {
            Title = "Success.",
            Content = "Category Updated Successfully.",
            OnOk = OnOkClick
        });
        NavigationManager.NavigateTo("/categories");
    }

    private Func<ModalClosingEventArgs, Task> OnOkClick = async (e) =>
    {
        await Task.Delay(1000);
    };
}
