@page "/"
    <Divider Orientation="center" Style="font-weight:bold;margin-bottom:200px;">Dashboard</Divider>

    <br />

    <div class="monster">
        <div class="monster__eye"></div>
        <div class="monster__mouth"></div>
        <div class="monster__leg"></div>
    </div>
